@charset "UTF-8";
.contenedor {
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#9a989b));
  background: linear-gradient(to bottom, white, #9a989b);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 0.25fr auto 1fr;
      grid-template-rows: 0.25fr auto 1fr;
  /* Utilizo grid para armar mi pagina y lo divido en 3 filas.
                                            Para el fondo utilizo una funcion linear-gradient */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.encabezado {
  background-color: #0a0222;
  /*Para el encabezado utilizo una variable que contiene el color de mi fondo de pantalla*/
  height: 100%;
}

.encabezado .navbar-light .navbar-nav .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  /*Para todo el encabezado elijo trabajar con flexbox para acomodar mas facil los items 
                                                         y contenidos que llevan*/
  color: #E0B000;
  font-size: 1rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.encabezado .navbar-light .navbar-nav .nav-link:hover {
  font-size: 1.1rem;
  /*Cuando el cursor este por encima de algun nav del header aumentaran su tamaño*/
}

.encabezado .navbar-light:hover {
  color: #E0B000;
}

.encabezado .navbar-toggler {
  background-color: #E0B000;
}

.encabezado .encabezado-titulo {
  font-size: 2rem;
  color: #FFD431;
  /*Para el titulo del encabezado utilizo una variable que contiene su color*/
  padding: 1rem;
}

.encabezado .encabezado-titulo:hover {
  color: white;
}

@media screen and (max-width: 1024px) {
  .contenedor {
    background-color: linear-gradient(to bottom, white, #9a989b);
    /*Utilizo el mismo fondo en todos las medias quaries*/
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contenedor main {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contenedor main .foto_main {
    width: 23rem;
    height: 19rem;
    padding: 1rem;
    /*Uso una mixin que la utilizo en las otras secciones de scss para darle formato a las imagenes*/
    margin: 0px;
    /*Asignando formato a la imagenes de index.html con mixin*/
  }
  .contenedor main .main-texto {
    margin: 1rem;
    font-size: 1rem;
    /*Le asigno formato a las palabras que se encuentran dentro del main
                                    como los subtitulos u oraciones*/
  }
  .contenedor main .card {
    margin-bottom: 5rem;
    /*Le asigno un margen inferior a la card de ventas.html para que no queden juntas unas con otras*/
  }
  .contenedor main ul li {
    list-style: none;
    font-size: 1rem;
  }
  .contenedor main form {
    padding: 1.3rem;
    /*Le doy margin y padding al formulario de la seccion asesoramiento.html*/
    margin: 1rem;
  }
}

/*-----------------------------FIN MEDIA QUARIE 1024PX--------------------------------------------*/
/*-----------------------------INICIA MEDIA QUARIE 768PX--------------------------------------------*/
@media screen and (max-width: 768px) {
  .contenedor {
    background-color: linear-gradient(to bottom, white, #9a989b);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contenedor main .foto_main {
    width: 20rem;
    height: 16rem;
    padding: 0rem;
    /*Uso una mixin que la utilizo en las otras secciones de scss para darle formato a las imagenes*/
    margin: 0px;
    /*Asignando formato a la imagenes de index.html con mixin*/
  }
  .contenedor main .main-texto {
    margin: 1rem;
    /*Le asigno formato a las palabras que se encuentran dentro del main
                                    como los subtitulos u oraciones*/
    font-size: 25px;
  }
  .contenedor main ul li {
    list-style: none;
    font-size: 1rem;
  }
  .contenedor main .card {
    margin-bottom: 5rem;
    height: 25rem;
  }
  .contenedor main .card:hover {
    background-color: #0a0222;
    color: #E0B000;
  }
  .contenedor main .card-img-top {
    height: 16rem;
  }
  .contenedor main form {
    padding: 1.3rem;
    /*Le doy margin y padding al formulario de la seccion asesoramiento.html*/
    margin: 1rem;
  }
  .contenedor main iframe {
    width: 30rem;
    height: 25rem;
    padding: 1rem;
    /*Uso una mixin que la utilizo en las otras secciones de scss para darle formato a las imagenes*/
    margin: 0px;
  }
}

/*-----------------------------FIN MEDIA QUARIE 768PX--------------------------------------------*/
/*-----------------------------INICIA MEDIA QUARIE 425PX--------------------------------------------*/
@media screen and (max-width: 425px) {
  .contenedor {
    width: 100%;
    justify-items: center;
  }
  .contenedor .encabezado {
    width: 100%;
  }
  .contenedor .encabezado-titulo {
    font-size: 1.8rem;
  }
  .contenedor main .foto_main {
    width: 24rem;
    height: 19rem;
    padding: 1rem;
    /*Uso una mixin que la utilizo en las otras secciones de scss para darle formato a las imagenes*/
    margin: 0px;
    /*Asignando formato a la imagenes de index.html con mixin*/
  }
  .contenedor main .main-texto {
    margin: 1rem;
    /*Le asigno formato a las palabras que se encuentran dentro del main
                                        como los subtitulos u oraciones*/
    font-size: 25px;
  }
  .contenedor main ul li {
    list-style: none;
    font-size: 1rem;
  }
  .contenedor main .card {
    margin-bottom: 5rem;
    height: 25rem;
  }
  .contenedor main .card:hover {
    background-color: #0a0222;
    color: #E0B000;
  }
  .contenedor main .card-img-top {
    height: 16rem;
  }
  .contenedor main form {
    padding: 1.3rem;
    margin: 1rem;
  }
  .contenedor main iframe {
    width: 24rem;
    height: 20rem;
    padding: 1rem;
    /*Uso una mixin que la utilizo en las otras secciones de scss para darle formato a las imagenes*/
    margin: 0rem;
  }
  .contenedor footer {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contenedor footer ul {
    margin: 0.5rem;
    padding: 0rem;
  }
  .contenedor footer ul li {
    font-size: 1.5rem;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .contenedor footer ul li:hover {
    font-size: 1.7rem;
  }
}

/*-----------------------------FIN MEDIA QUARIE 425PX--------------------------------------------*/
/*-----------------------------INICIO MEDIA QUARIE 375PX--------------------------------------------*/
@media screen and (max-width: 375px) {
  .contenedor {
    width: 100%;
    justify-items: center;
  }
  .contenedor .encabezado {
    width: 100%;
  }
  .contenedor .encabezado-titulo {
    font-size: 1.6rem;
  }
  .contenedor main .foto_main {
    width: 22rem;
    height: 16rem;
    padding: 1rem;
    /*Uso una mixin que la utilizo en las otras secciones de scss para darle formato a las imagenes*/
    margin: 0px;
    /*Asignando formato a la imagenes de index.html con mixin*/
  }
  .contenedor main .main-texto {
    margin: 0.7rem;
    /*Le asigno formato a las palabras que se encuentran dentro del main
                                        como los subtitulos u oraciones*/
    font-size: 20px;
  }
  .contenedor main ul li {
    list-style: none;
    font-size: 1rem;
  }
  .contenedor main .card {
    margin-bottom: 5rem;
    /*Le asigno un margen inferior a la card de ventas.html para que no queden juntas unas con otras*/
  }
  .contenedor main form {
    padding: 1.3rem;
    margin: 1rem;
  }
  .contenedor main iframe {
    width: 21rem;
    height: 17rem;
    padding: 1rem;
    /*Uso una mixin que la utilizo en las otras secciones de scss para darle formato a las imagenes*/
    margin: 0px;
  }
  .contenedor footer {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contenedor footer ul {
    margin: 0.5rem;
    padding: 0rem;
  }
  .contenedor footer ul li {
    font-size: 1.3rem;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .contenedor footer ul li:hover {
    font-size: 1.5rem;
  }
}

/*-----------------------------FIN MEDIA QUARIE 375PX--------------------------------------------*/
/*-----------------------------INICIO MEDIA QUARIE 320PX--------------------------------------------*/
@media screen and (max-width: 320px) {
  .contenedor {
    width: 100%;
    justify-items: center;
  }
  .contenedor .encabezado {
    width: 100%;
  }
  .contenedor .encabezado-titulo {
    font-size: 1.25rem;
  }
  .contenedor main .foto_main {
    width: 18rem;
    height: 14rem;
    padding: 1rem;
    /*Uso una mixin que la utilizo en las otras secciones de scss para darle formato a las imagenes*/
    margin: 0px;
    /*Asignando formato a la imagenes de index.html con mixin*/
  }
  .contenedor main .main-texto {
    margin: 1rem;
    /*Le asigno formato a las palabras que se encuentran dentro del main
                                        como los subtitulos u oraciones*/
    font-size: 20px;
  }
  .contenedor main ul li {
    list-style: none;
    font-size: 1rem;
  }
  .contenedor main .card {
    margin-bottom: 5rem;
    height: 24rem;
  }
  .contenedor main .card:hover {
    background-color: #0a0222;
    color: #E0B000;
  }
  .contenedor main .card-img-top {
    height: 14rem;
  }
  .contenedor main form {
    padding: 1.3rem;
    margin: 1rem;
  }
  .contenedor main iframe {
    width: 18rem;
    height: 16rem;
    padding: 1rem;
    /*Uso una mixin que la utilizo en las otras secciones de scss para darle formato a las imagenes*/
    margin: 0px;
  }
  .contenedor footer {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contenedor footer ul {
    margin: 0.5rem;
    padding: 0rem;
  }
  .contenedor footer ul li {
    font-size: 1rem;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .contenedor footer ul li:hover {
    font-size: 1.2rem;
  }
}

/*-----------------------------FIN MEDIA QUARIE 320PX--------------------------------------------*/
/*Importo el responsives.scss para poder utilizar el mixin fotos que está ahi declarado*/
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /*Elijo que el main sea flexbox dentro de mi fila de grid para poder trabajr mejor
                        con el contenido y poder darles una posicion y estilo de manera mas fácil*/
  margin-top: 5rem;
  height: 100%;
}

main .foto_main {
  width: 34rem;
  height: 26rem;
  padding: 1rem;
  /*Uso una mixin que la utilizo en las otras secciones de scss para darle formato a las imagenes*/
  margin: 0rem;
  /*Utilizo el mixin para darle formato a mis fotos del home. El orden
                                                es width, height, padding, margin*/
}

main .foto_main_ventas {
  width: auto;
  height: auto;
  padding: 1rem;
  /*Uso una mixin que la utilizo en las otras secciones de scss para darle formato a las imagenes*/
  margin: 0;
  /*Utilizo el mixin para darle formato a mis fotos de la seccion ventas. El orden
                                            es width, height, padding, margin*/
}

main .main-texto {
  margin: 1rem;
  font-style: normal;
  color: #100235;
  /*Le doy formato a las palabras que se encuentren dentro del main en cualquer secion*/
  text-decoration: none;
}

main ul li {
  list-style: none;
  font-size: 1rem;
}

main .card-deck {
  margin-bottom: 5rem;
  /*Pongo un margen superior en las cards de la seccion ventas para separarlas*/
}

main .card {
  height: 20rem;
}

main .card:hover {
  background-color: #0a0222;
  color: #E0B000;
}

main .card-img-top {
  height: 10rem;
}

main iframe {
  margin-top: 3rem;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  /*Separo con el margin la seccion de google maps que aparece en la seecion nosotros.html*/
}

main .btn {
  background-color: #0a0222;
  color: #E0B000;
}

main .btn:hover {
  background-color: #E0B000;
  color: #0a0222;
}

main .dropdown-menu {
  background-color: #0a0222;
}

main .dropdown-item {
  color: #E0B000;
}

main .dropdown-item:hover {
  background-color: #E0B000;
  color: #0a0222;
}

main form {
  padding: 1.3rem;
  /*Le doy un formato al formulario de la seccion asesoramiento.html*/
  margin: 1rem;
}

main form .lead {
  color: #140d1d;
  /*Las palabras que estan dentro del formulario les doy color con esta línea de código*/
}

footer {
  background-color: #0a0222;
  /*El fondo de pantalla de mi footer lo asigno con esta lína utilizando una variable*/
  margin-top: 15rem;
  /*Le pongo un margin top para separarlo del main y que quede abajo bien en el pie de pagina*/
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  /*Elijo que el footer sea flexbox para poder trabajar mejor en cuanto a la distribucion
                                y asignacion de estilos al contenido que se encuentra dentro de el*/
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.2rem;
  margin: 1rem;
  color: #100235;
  /*El color del texto lo defino con una variable que ya tiene asignado un color*/
}

footer ul li {
  padding: 1rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

footer ul li:hover {
  /*En esta parte lo que hace es aumentar el tamaño de los items del footer
                                        cuando el cursor se posiciona sobre ellos*/
  font-size: 1.4rem;
}

footer ul .nav-link {
  background-color: #E0B000;
  color: #0a0222;
}

@media screen and (max-width: 1024px) {
  .contenedor {
    background-color: linear-gradient(to bottom, white, #9a989b);
    /*Utilizo el mismo fondo en todos las medias quaries*/
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contenedor main {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contenedor main .foto_main {
    width: 23rem;
    height: 19rem;
    padding: 1rem;
    /*Uso una mixin que la utilizo en las otras secciones de scss para darle formato a las imagenes*/
    margin: 0px;
    /*Asignando formato a la imagenes de index.html con mixin*/
  }
  .contenedor main .main-texto {
    margin: 1rem;
    font-size: 1rem;
    /*Le asigno formato a las palabras que se encuentran dentro del main
                                    como los subtitulos u oraciones*/
  }
  .contenedor main .card {
    margin-bottom: 5rem;
    /*Le asigno un margen inferior a la card de ventas.html para que no queden juntas unas con otras*/
  }
  .contenedor main ul li {
    list-style: none;
    font-size: 1rem;
  }
  .contenedor main form {
    padding: 1.3rem;
    /*Le doy margin y padding al formulario de la seccion asesoramiento.html*/
    margin: 1rem;
  }
}

/*-----------------------------FIN MEDIA QUARIE 1024PX--------------------------------------------*/
/*-----------------------------INICIA MEDIA QUARIE 768PX--------------------------------------------*/
@media screen and (max-width: 768px) {
  .contenedor {
    background-color: linear-gradient(to bottom, white, #9a989b);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contenedor main .foto_main {
    width: 20rem;
    height: 16rem;
    padding: 0rem;
    /*Uso una mixin que la utilizo en las otras secciones de scss para darle formato a las imagenes*/
    margin: 0px;
    /*Asignando formato a la imagenes de index.html con mixin*/
  }
  .contenedor main .main-texto {
    margin: 1rem;
    /*Le asigno formato a las palabras que se encuentran dentro del main
                                    como los subtitulos u oraciones*/
    font-size: 25px;
  }
  .contenedor main ul li {
    list-style: none;
    font-size: 1rem;
  }
  .contenedor main .card {
    margin-bottom: 5rem;
    height: 25rem;
  }
  .contenedor main .card:hover {
    background-color: #0a0222;
    color: #E0B000;
  }
  .contenedor main .card-img-top {
    height: 16rem;
  }
  .contenedor main form {
    padding: 1.3rem;
    /*Le doy margin y padding al formulario de la seccion asesoramiento.html*/
    margin: 1rem;
  }
  .contenedor main iframe {
    width: 30rem;
    height: 25rem;
    padding: 1rem;
    /*Uso una mixin que la utilizo en las otras secciones de scss para darle formato a las imagenes*/
    margin: 0px;
  }
}

/*-----------------------------FIN MEDIA QUARIE 768PX--------------------------------------------*/
/*-----------------------------INICIA MEDIA QUARIE 425PX--------------------------------------------*/
@media screen and (max-width: 425px) {
  .contenedor {
    width: 100%;
    justify-items: center;
  }
  .contenedor .encabezado {
    width: 100%;
  }
  .contenedor .encabezado-titulo {
    font-size: 1.8rem;
  }
  .contenedor main .foto_main {
    width: 24rem;
    height: 19rem;
    padding: 1rem;
    /*Uso una mixin que la utilizo en las otras secciones de scss para darle formato a las imagenes*/
    margin: 0px;
    /*Asignando formato a la imagenes de index.html con mixin*/
  }
  .contenedor main .main-texto {
    margin: 1rem;
    /*Le asigno formato a las palabras que se encuentran dentro del main
                                        como los subtitulos u oraciones*/
    font-size: 25px;
  }
  .contenedor main ul li {
    list-style: none;
    font-size: 1rem;
  }
  .contenedor main .card {
    margin-bottom: 5rem;
    height: 25rem;
  }
  .contenedor main .card:hover {
    background-color: #0a0222;
    color: #E0B000;
  }
  .contenedor main .card-img-top {
    height: 16rem;
  }
  .contenedor main form {
    padding: 1.3rem;
    margin: 1rem;
  }
  .contenedor main iframe {
    width: 24rem;
    height: 20rem;
    padding: 1rem;
    /*Uso una mixin que la utilizo en las otras secciones de scss para darle formato a las imagenes*/
    margin: 0rem;
  }
  .contenedor footer {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contenedor footer ul {
    margin: 0.5rem;
    padding: 0rem;
  }
  .contenedor footer ul li {
    font-size: 1.5rem;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .contenedor footer ul li:hover {
    font-size: 1.7rem;
  }
}

/*-----------------------------FIN MEDIA QUARIE 425PX--------------------------------------------*/
/*-----------------------------INICIO MEDIA QUARIE 375PX--------------------------------------------*/
@media screen and (max-width: 375px) {
  .contenedor {
    width: 100%;
    justify-items: center;
  }
  .contenedor .encabezado {
    width: 100%;
  }
  .contenedor .encabezado-titulo {
    font-size: 1.6rem;
  }
  .contenedor main .foto_main {
    width: 22rem;
    height: 16rem;
    padding: 1rem;
    /*Uso una mixin que la utilizo en las otras secciones de scss para darle formato a las imagenes*/
    margin: 0px;
    /*Asignando formato a la imagenes de index.html con mixin*/
  }
  .contenedor main .main-texto {
    margin: 0.7rem;
    /*Le asigno formato a las palabras que se encuentran dentro del main
                                        como los subtitulos u oraciones*/
    font-size: 20px;
  }
  .contenedor main ul li {
    list-style: none;
    font-size: 1rem;
  }
  .contenedor main .card {
    margin-bottom: 5rem;
    /*Le asigno un margen inferior a la card de ventas.html para que no queden juntas unas con otras*/
  }
  .contenedor main form {
    padding: 1.3rem;
    margin: 1rem;
  }
  .contenedor main iframe {
    width: 21rem;
    height: 17rem;
    padding: 1rem;
    /*Uso una mixin que la utilizo en las otras secciones de scss para darle formato a las imagenes*/
    margin: 0px;
  }
  .contenedor footer {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contenedor footer ul {
    margin: 0.5rem;
    padding: 0rem;
  }
  .contenedor footer ul li {
    font-size: 1.3rem;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .contenedor footer ul li:hover {
    font-size: 1.5rem;
  }
}

/*-----------------------------FIN MEDIA QUARIE 375PX--------------------------------------------*/
/*-----------------------------INICIO MEDIA QUARIE 320PX--------------------------------------------*/
@media screen and (max-width: 320px) {
  .contenedor {
    width: 100%;
    justify-items: center;
  }
  .contenedor .encabezado {
    width: 100%;
  }
  .contenedor .encabezado-titulo {
    font-size: 1.25rem;
  }
  .contenedor main .foto_main {
    width: 18rem;
    height: 14rem;
    padding: 1rem;
    /*Uso una mixin que la utilizo en las otras secciones de scss para darle formato a las imagenes*/
    margin: 0px;
    /*Asignando formato a la imagenes de index.html con mixin*/
  }
  .contenedor main .main-texto {
    margin: 1rem;
    /*Le asigno formato a las palabras que se encuentran dentro del main
                                        como los subtitulos u oraciones*/
    font-size: 20px;
  }
  .contenedor main ul li {
    list-style: none;
    font-size: 1rem;
  }
  .contenedor main .card {
    margin-bottom: 5rem;
    height: 24rem;
  }
  .contenedor main .card:hover {
    background-color: #0a0222;
    color: #E0B000;
  }
  .contenedor main .card-img-top {
    height: 14rem;
  }
  .contenedor main form {
    padding: 1.3rem;
    margin: 1rem;
  }
  .contenedor main iframe {
    width: 18rem;
    height: 16rem;
    padding: 1rem;
    /*Uso una mixin que la utilizo en las otras secciones de scss para darle formato a las imagenes*/
    margin: 0px;
  }
  .contenedor footer {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contenedor footer ul {
    margin: 0.5rem;
    padding: 0rem;
  }
  .contenedor footer ul li {
    font-size: 1rem;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .contenedor footer ul li:hover {
    font-size: 1.2rem;
  }
}

/*-----------------------------FIN MEDIA QUARIE 320PX--------------------------------------------*/
/*# sourceMappingURL=main.css.map */