@import"./variables";


.contenedor
{
    background: $color-fondo;
    display: grid;
    grid-template-rows: 0.1fr auto 1fr;    /* Utilizo grid para armar mi pagina y lo divido en 3 filas.
                                            Para el fondo utilizo una funcion linear-gradient */
    align-items: center;
}