@import"./variables";



.encabezado
{
    background-color: $color-fondo-encabezado;  /*Para el encabezado utilizo una variable que contiene el color de mi fondo de pantalla*/
    height: 100%;
    .navbar-light
    {
        .navbar-nav
        {
            .nav-link
            {
                display: flex;
                padding: 1rem;                          /*Para todo el encabezado elijo trabajar con flexbox para acomodar mas facil los items 
                                                         y contenidos que llevan*/
                color: $color-navs-encabezado;
                font-size: 1rem;                              
                transition: all 0.5s;
                  
                &:hover
                {
                    font-size: 1.1rem;      /*Cuando el cursor este por encima de algun nav del header aumentaran su tamaño*/
                }
            }    
        }
        &:hover
        {
            color: $color-navs-encabezado;
        }      
    }
    .encabezado-titulo
    {
        font-size: 2rem;
        color: $color-titulo-encabezado;    /*Para el titulo del encabezado utilizo una variable que contiene su color*/
        padding: 1rem;
        &:hover
        {
            color: white;
        }
    }
}