@import"./variables";

footer
{
    background-color: $color-fondo-footer;
    margin-top: 15rem;
    ul
    {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        font-size: 1.2rem;
        margin: 1rem;
        color: $color-texto;
        li
        {
            padding: 1rem;
            transition: all 0.5s;
            &:hover
            {
                font-size: 1.4rem;
            }
        }
    } 
}