$color-fondo:linear-gradient(to bottom, rgb(255, 255, 255),rgb(154, 152, 155));
$color-fondo-encabezado:#0a0222;
$color-fondo-footer:#0a0222;
$color-navs-encabezado:#E0B000;
$color-titulo-encabezado:#FFD431;
$color-texto:#100235;