$color-fondo:linear-gradient(to bottom, rgb(56, 48, 131),rgb(154, 152, 155));
$color-fondo-encabezado: rgb(116, 111, 111);
$color-fondo-footer:black;
$color-navs-encabezado:whitesmoke;
$color-titulo-encabezado:burlywood;
$color-texto:rgb(243, 239, 239);